*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ABeeZee";
}

html, body{
  height: 100%;
  width: 100%;
  background-color: rgba(233, 239, 246, 0.822) !important;
}

.abeezee-regular {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.abeezee-regular-italic {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: italic;
}
