.HeaderContainer {
    gap: 25px;
    display: flex;
    height: 200px;
    width: 100%;
    padding: 10px;
    position: relative;
    padding: 10px 80px;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: rgb(186, 164, 164); */
}


.left {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 30px 20px;
    /* border: 1px solid rgb(190, 190, 190); */
    background: rgba(174, 174, 174, 0.329);
    /* backdrop-filter: blur(5px); */
}

.right {
    position: relative;
    height: 100%;
    width: 100%;
}

/* .overflowText {
    right: 0;
    height: 200px;
    padding: 10px;
    color: #fff;
    position: absolute;
    background-color: rgba(199, 190, 190, 0.094);
} */


.right>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}


@media screen and (max-width:480px) {
    .HeaderContainer {
        position: relative;
        height: 40%;
        width: 100%;
        display: flex;
        /* margin-top: 50px; */
        padding: 10px 20px;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        /* background-color: rgb(255, 0, 0); */
    }


    .left {
        height: 150px;
        width: 100%;
        /* padding: 20px 25px; */
        background-color: rgba(174, 174, 174, 0.329);
    }


    .right {
        position: relative;
        height: 100%;
        width: 100%;
    }
/* 
    .overflowText {
        right: 0;
        height: 200px;
        padding: 10px;
        color: #fff;
        position: absolute;
        background-color: rgba(199, 190, 190, 0.094);
    } */


    .right>img {
        height: 150px;
        width: 100%;
        border-radius: 20px;
        object-fit: cover;
    }


}